* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    background-color: orange;
    width: 100%;
}

.contenitore {
   display: flex;
   justify-content: center;
   justify-content: space-around;
}



ul { list-style-type: none;
    display: flex ;
}

li {
    
}

.logo img {
width: 100px;
}

.container {  
   height: 350px;
   position: relative;
   
}



img{
    width: 100%;
}
img {
}
.vestito {
    background-color: gray;
    height: 350px;
    width: 300px;
    margin-right: 1em;
    margin-bottom: 6em;
}

.wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 920px;
  
  
}

.sconto {
    background-color: red;
    width: 60px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    
    
}
main {
    
 
  
}